env:
  PACKAGE_NAME: rsync
on:
  push:
    branches:
      - master
    paths:
      - .github/workflows/rsync.yml
      - packages/rsync/**
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3
    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - uses: docker/build-push-action@v4
      with:
        push: true
        platforms: linux/amd64,linux/arm64
        file: ./packages/${{ env.PACKAGE_NAME }}/Dockerfile
        tags: sstc/${{ env.PACKAGE_NAME }}:latest
    - uses: christian-korneck/update-container-description-action@v1
      env:
        DOCKER_USER: ${{ secrets.DOCKERHUB_USERNAME }}
        DOCKER_PASS: ${{ secrets.DOCKERHUB_PASSWORD }}
      with:
        destination_container_repo: sstc/${{ env.PACKAGE_NAME }}
        short_description: https://github.com/${{ github.repository }}/packages/${{ env.PACKAGE_NAME }}
        readme_file: './packages/${{ env.PACKAGE_NAME }}/README.md'
    - uses: up9cloud/action-notify@master
      if: cancelled() == false
      env:
        GITHUB_JOB_STATUS: ${{ job.status }}
        TELEGRAM_BOT_TOKEN: ${{secrets.TELEGRAM_BOT_TOKEN}}
        TELEGRAM_CHAT_ID: ${{secrets.TELEGRAM_CHAT_ID}}
